<% extends 'base.html' %>
<% block content %>
<h1>Clients</h1>
<a href="{% url 'client_create' %}">Add Client</a>
<table>
	<tr><th>Username</th><th>Email</th><th>Phone</th><th>Location</th><th>Actions</th></tr>
	{% for client in clients %}
	<tr>
		<td>{{ client.user.username }}</td>
		<td>{{ client.user.email }}</td>
		<td>{{ client.phone }}</td>
		<td>{{ client.location }}</td>
		<td>
			<a href="{% url 'client_detail' client.pk %}">View</a> |
			<a href="{% url 'client_update' client.pk %}">Edit</a> |
			<a href="{% url 'client_dekete' client.pk %}">Delete</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
