{% extends 'base.html' %}
{% block content %}
<h1>Dispatches</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Status</th>
            {% if request.user.role in 'admin staff' %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for dispatch in dispatches %}
        <tr>
            <td>{{ dispatch.id }}</td>
            <td>{{ dispatch.description }}</td>
            <td>{{ dispatch.status }}</td>
            {% if request.user.role in 'admin staff' %}
            <td>
                <a href="{% url 'dispatches:dispatch_update' dispatch.id %}">Edit</a>
                <a href="{% url 'dispatches:dispatch_delete' dispatch.id %}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No dispatches found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if request.user.role in 'admin staff' %}
<a href="{% url 'dispatches:dispatch_create' %}">Add New Dispatch</a>
{% endif %}

{% endblock %}
