{% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">Logout</a>

    {% if request.user.role in 'admin staff' %}
        <a href="{% url 'clients:client_list' %}">Clients</a>
        <a href="{% url 'drivers:driver_list' %}">Drivers</a>
        <a href="{% url 'dispatches:dispatch_list' %}">Dispatches</a>
    {% elif request.user.role == 'client' or request.user.role == 'driver' %}
        <a href="{% url 'dispatches:dispatch_list' %}">Dispatches</a>
        <a href="{% url 'accounts:profile_update' request.user.id %}">My Profile</a>
    {% endif %}
{% else %}
    <a href="{% url 'accounts:login' %}">Login</a>
{% endif %}
