{% extends "base.html" %}
{% block content %}
  <h2>Drivers</h2>
  <ul>
    {% for driver in drivers %}
      <li>
        {{ driver.name }} – {{ driver.license_number }}
        {% if request.user.role in 'admin staff' %}
          <a href="{% url 'driver_edit' driver.id %}">Edit</a>
          <a href="{% url 'driver_delete' driver.id %}">Delete</a>
        {% elif request.user.role == 'driver' and driver.user == request.user %}
          <a href="{% url 'driver_detail' driver.id %}">View Profile</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
