{% extends 'base.html' %}

{% block content %}
<h1>Drivers</h1>
<a href="{% url 'driver_create' %}">Add Driver</a>
<table>
    <tr><th>Username</th><th>Email</th><th>Phone</th><th>License Plate</th><th>Actions</th></tr>
    {% for driver in drivers %}
    <tr>
        <td>{{ driver.user.username }}</td>
        <td>{{ driver.user.email }}</td>
        <td>{{ driver.phone }}</td>
        <td>{{ driver.license_plate }}</td>
        <td>
            <a href="{% url 'driver_detail' driver.pk %}">View</a> |
            <a href="{% url 'driver_update' driver.pk %}">Edit</a> |
            <a href="{% url 'driver_delete' driver.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
