{% extends 'base.html' %}

{% block content %}
<h1>Update Driver</h1>
<form method="post">
    {% csrf_token %}
    <label>Username: <input type="text" name="username" value="{{ driver.user.username }}"></label><br>
    <label>Email: <input type="email" name="email" value="{{ driver.user.email }}"></label><br>
    <label>Password: <input type="password" name="password"> (Leave blank to keep current)</label><br>
    <label>Phone: <input type="text" name="phone" value="{{ driver.phone }}"></label><br>
    <label>License Plate: <input type="text" name="license_plate" value="{{ driver.license_plate }}"></label><br>
    <button type="submit">Update</button>
</form>
{% endblock %}
